<script src="https://code.highcharts.com/highcharts.js"></script>

<body>
    <div id="container" style="min-width: 310px; height: 500px; margin: 0 auto"></div>
    <script type="text/javascript">
        let data = '<%- ( result ) %>';
        data = JSON.parse(data);
        console.log(data)
        plotGraph(data);

        function plotGraph(chartData) {
            var chart = Highcharts.chart('container', {
                chart: {
                    type: 'bar'
                },
                title: {
                    text: 'Total matches Won per team in all the year'
                },
                xAxis: {
                    categories: ["2008", "2009", "2010", "2011", "2012", "2013", "2014", "2015", "2016", "2017"]
                },
                yAxis: {
                    min: 0,
                    title: {
                        text: 'Total matches Won'
                    }
                },
                legend: {
                    reversed: true
                },
                plotOptions: {
                    series: {
                        stacking: 'normal'
                    }
                },
                series: chartData
            });
        }
    </script>
</body>